/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

body {
  font-size: 24px;
  line-height: 32px;
  color: #333;
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

section {
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

#left {
  background: #30948D;
  width: 33.3%;
  color: white;
  float: left;
}

#middle {
  background: #9e1212;
  width: 33.3%;
  color: white;
  float: left;
}

#right {
  background: #30948D;
  width: 33.3%;
  color: white;
  float: left;
}

#full {
  clear: both;
  width: 100%;
  background: #394549;
  overflow: auto;
  color: white;
}

#division {
  background: #6ea3da;
  padding: 20px;
  margin-top: 20px;
}

aside {
  float: left;
  width: 33%;
  height: 200px;
  background: #a6b747;
  padding: 20px;
  border: 1px solid white;
  margin-left: 30px;

}

footer {
  background: #ffa500;
  padding: 20px;
  clear: both;
}
